@import "tailwindcss";

@keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fade-in-scale {
    animation: fade-in-scale 0.5s cubic-bezier(0.4,0,0.2,1);
  } 